@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');


/* Author : Rishabh Kumar
   Youtube Channel : Binary Cumates

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    background-color: burlywood;
}



.main-container {
    width: 80%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;

}

.card-container {
    background-color: rgb(238, 238, 130);

    border: 2px solid black;
    transition: all 0.8s ease-in-out;
}


.card-container:nth-child(1):hover{
   background-image: linear-gradient(to left, red , yellow);


}


.card-container:nth-child(2):hover{
   background-image: linear-gradient(to bottom, red , yellow);


}


.card-container:nth-child(3):hover{
   background-image: linear-gradient(to right, red , yellow);


}


.card-container{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img {
    padding-left: 50px;
    padding-bottom: 50px;
}

.title {
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.title h2::selection{
    color: skyblue;
    background-color: black;
}

.content {
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.content p::selection{
    color: yellow;
    background-color: black;
}
.btn{
    padding-top: 14px;
    padding-left: 22px;
    text-align: center;
}

.btn a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    
    
}

.btn a:hover{
    background-color: transparent;
}



@media screen and (max-width:768px){

    
.main-container {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 40px;

}

.card-container{
    height: 400px;
}
    
}
